cpp/examples/thirdPartyLibraryExamples/gsoapExamples/jetlun/JetlunHan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JetlunHan"
 targetNamespace="urn:JetlunHan"
 xmlns:tns="urn:JetlunHan"
 xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
 xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:hs="urn:JetlunHan"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:JetlunHan"
  xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
  xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:hs="urn:JetlunHan"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
 <import namespace="http://www.w3.org/2003/05/soap-encoding" schemaLocation="http://www.w3.org/2003/05/soap-encoding"/>

  <complexType name="StartGwModuleRequest">
   <sequence>
     <element name="admissionMode" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
     <element name="size" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="startGwModule">
 <part name="request" type="hs:StartGwModuleRequest"/>
</message>

<message name="NoResponse">
</message>

<message name="getGwModuleStatusRequest">
</message>

<message name="getGwModuleStatusResponse">
 <part name="response" type="xsd:int"/>
</message>

<portType name="JetlunHanPortType">
 <operation name="startGwModule">
  <documentation>Service definition of function hs__startGwModule</documentation>
  <input message="tns:startGwModule"/>
  <output message="tns:NoResponse"/>
 </operation>
 <operation name="getGwModuleStatus">
  <documentation>Service definition of function hs__getGwModuleStatus</documentation>
  <input message="tns:getGwModuleStatusRequest"/>
  <output message="tns:getGwModuleStatusResponse"/>
 </operation>
</portType>

<binding name="JetlunHan" type="tns:JetlunHanPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="startGwModule">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:JetlunHan" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:JetlunHan" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="getGwModuleStatus">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:JetlunHan" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:JetlunHan" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
</binding>

<service name="JetlunHan">
 <documentation>gSOAP 2.7.9i generated service definition</documentation>
 <port name="JetlunHan" binding="tns:JetlunHan">
  <SOAP:address location="http://www.grid-net.com/jetlunhan.cgi"/>
 </port>
</service>

</definitions>
